/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.workspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headline {
    font-size: large;
  }
}

.actions-container {
  display: flex;
  gap: 8px;
}

.mdc-button:not([disabled]) {
  background-color: #005CBB !important;
  color: #fff !important;
}

